@mixin field {
  position: relative;
  box-sizing: border-box;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d6df;
  background-color: transparent;
}

@mixin field-icon($icon-url,$color,$icon-width,$icon-height,$rigth) {
    background-image: url(#{$icon-url}),
    linear-gradient(to left, transparent 40px,$color 40px,$color 41px,transparent 41px);
    background-repeat: no-repeat;
    background-position: center right $rigth, center right;
    background-size: $icon-width $icon-height, 100% 100%;
}

.select {
  display: flex;
  justify-content: space-between;
  label {
    display: flex;
    margin-right: 15px;
    color: #141414;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 700;
    span {
      margin: auto;
    }
  }
  &__wrapper {
    @include field;
    color: #555555;
    font-family: $font-family;
    font-size: 15px;
    font-weight: 400;
    background-color: #ffffff;
    background-image: url("img/icon-arrow-down.svg"),
    linear-gradient(to left, transparent 40px,#d3d6df 40px,#d3d6df 41px,transparent 41px);
    background-repeat: no-repeat;
    background-position: center right 15px, center right;
    background-size: 16px 10px, 100% 100%;

  select {
    padding: 10px 15px;
    height: 41px;
    background: transparent;
//    background-color: transparent;
    border: 0;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;    /* remove arrow Chrome */
    -moz-appearance: none;       /* remove arrow FF     */
    &::-ms-expand {
      display: none;             /* remove arrow IE     */
    }
  }

  &--city {
    margin: 20px 0;
    margin-right: 45px;
    width: 352px;
    select {
      width: 352px;
    }
  }

    &--warehouse {
    margin: 20px 0;
    margin-right: 80px;
    width: 233px;
    select {
      width: 233px;
    }
  }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border-left: 1px solid #d3d6df;
    z-index: -1;
    svg {
      position: absolute;
      top: 50%;
      height: 50%;
      width: 16px;
      height: 10px;
      fill: #d3d6df;
      transform: rotate(180deg) translateY(50%) translateX(-50%);
      z-index: -1;
    }
  }

  select option {
    color: blue;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
